.list {
  list-style-type: none;
  margin: 0;
}

.bg-page {
  background-color: #fcfbe5;
}

.main-page {
    position: relative;
    z-index: 1;
}

.bg-main {
  background-image: url(./frontMacuco1.jpg);
  background-size: cover;
  background-position:right top;
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 95vh;
  opacity: 0.5;
}

.navTop {
  height: 100%;
  background-color: yellow;
}

.navLinks {
  text-decoration: none;
  font-weight: normal;
  font-size: 1.5rem;
  color: #3d3d38;
}

.navLinks:hover {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: #3d3d38;
  cursor: pointer;
}

.selected:not([href]) {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: #ff2800;
  cursor: pointer;
}

.div-text {
  padding: 3rem;
  color: #ff2800;
}

.box-info {
  -webkit-box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.75);
  background-color: #fcfbe5;
}

@media (min-width: 576px) {
  .bg-main {
    width: 100vw;
    height: 92vh;
  }
  
  .navTop {
    min-height: 31px;
    height: 8vh;
    border-right: solid 6px #ff2800;
  }

  .navLinks {
    font-size: 1rem;
    color: #3d3d38;
  }

  .navLinks:hover {
    font-weight: bold;
    font-size: 1rem;
  }

  .selected:not([href]) {
    font-size: 1rem;
  }
  
  .div-text {
    padding: 8% 6%;
    width: 65%;
  }

  .vh-sm-80 {
    height: 80vh;
  }
}

@media (min-width: 992px) {
  .box-info {
    font-size: 1.35rem;
  }
}

@media (min-width: 1200px) {
  .div-text {
    font-size: 5rem;
  }

  .box-info {
    font-size: 1.75rem;
  }
}